:root {
    --bluesky: #00e7fc;
    --bg: #01020c;
    --shadow: 0 2px 2px rgb(255, 0, 128);
}

body {
    font-size: 1.2rem;
    font-family: "Work Sans", serif;
    min-height: 4000px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Img/prewed.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: grayscale();
}

.hero {
    position: relative;
    min-height: 100vh;
}

.hero h1,
.hero h4,
.hero p {
    text-shadow: var(--shadow);
}

.hero h1 {
    font-family: "sacramento", cursive;
    font-size: 2rem;
}

.hero h4 {
    font-size: 1.6rem;
}

.hero p {
    font-size: 1.4rem;
}

.hero a {
    color: var(--bluesky);
    background-color: white;
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: var(--bluesky);
    color: white;
}

.mynavbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
    height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
    font-family: "sacramento", cursive;
    font-size: 1.4rem;
    font-weight: bold;
}

.mynavbar .nav-link {
    font-weight: 300;
    text-transform: uppercase;
}

.home {
    background-image: url(Img/flower2.jpg);
    background-size: cover;
    min-height: 100vh;
    margin-top: -6rem;
    padding-top: 14rem;
    padding-bottom: 5rem;
}

.home h2, 
.story h2 {
    color: var(--bluesky);
    font-family: "sacramento", cursive;
    font-size: 5rem;
    font-weight: bold;
}

.home h3 {
    color: #444;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home p {
    font-size: 1.1rem;
    color: #666;
}

.home .couple {
    margin-top: 100px;
}

.home .couple h3 {
    font-family: "sacramento";
    font-size: 2.4rem;
    color: var(--bluesky);
}

.home .couple img {
    width: 100%;
}

.home .hati{
    width: 50px;
    height: 50px;
    background-color: white;
    display:flex;
    border-radius: 50%;
    box-shadow:0 0 0 5px rgb(255, 0, 128);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(65px);
}

.home .hati i{
    margin: auto;
    color: var(--bluesky);
}

.info {
    background-color: var(--bg);
    color: white;
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.info h2 {
    color: var(--bluesky);
    font-family: 'sacramento';
    font-size: 5rem;
    font-weight: bold;
}

.info p {
    font-size: 1.1rem;
    color: white;
}

.info .alamat {
    font-size: 1.1rem;
}

.info .description {
    font-size: 1rem;
    font-weight: 300;
}

.info .card{
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: white !important;
    border: 1px solid #999;
}

.info .card-header{
    border-bottom: 1px solid #999;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    
}

.info .card-body{
    font-size: 1rem;
}

.info .card-footer{
    border-top: 1px solid #999;
    font-size: 0.87rem;
    text-align: center;
    font-weight: 300;

}

.story {
    padding-top: 10rem;
    padding-bottom: 8rem;

}

.story span{
    text-transform: uppercase;
    color: #666;
    font-size: 0,7rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;

}

.story p{
    font-size: 1rem;
    font-weight: 300;
}

.timeline {
    list-style: none;
    padding: 1.4rem 0;
    margin-top: 1rem;
    position: relative;
}

.timeline::before{
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    background-color: #ccc;
    left: 50%;
}

.timeline li{
    margin-bottom: 1.5rem;
    position: relative;

}

.timeline li::before,
.timeline li::after {
    content: '';
    display: table;

}

.timeline li::after{
    clear: both;
}

.timeline li .timeline-image{
    width: 160px;
    height: 160px;
    background-color: #ccc;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.timeline li .timeline-panel {
    width: 40%;
    float: left;
    border: 1px solid #ccc;
    padding: 2rem;
    position: relative;
    border-radius: 104px;
}


/* Media Query */
/* Extra large */

@media (max-width: 1200px) {
    .home .hati{
        transform: translateX(-50%) translateY(45px);
    }
}

/* laptop */

@media (max-width: 992px) {
    html {
        font-size: 75%;
    }
    .simply-countdown>.simply-section {
        font-size: 45%;
    }
    .home .hati{
        display: none;
    }
}


/* tablet */

@media (max-width: 768px) {
    html {
        font-size: 62%;
    }
    .simply-countdown>.simply-section {
        font-size: 60%;
        margin: 5%;
    }
    .mynavbar .nav-link {
        font-weight: 300;
        font-size: 2rem;
        text-align: center;
    } 
    .sticky-top{
        overflow: hidden;
    }
    .timeline li .timeline-image {
        width: 140px;
        height: 140px;
    }
}




/* mobile phone */

@media (max-width: 576px) {
    html {
        font-size: 60%;
    }
    .simply-countdown>.simply-section {
        font-size: 45%;
        margin: 3%;
    }
}